body {
  background-color: #1b1717;
}

/* Nav CSS */
.navbar {
  padding: 1vw;
  background-color: #eeebdd;
}

.navbar-brand img {
  margin-right: 1vw;
}

.navbar button {
  background-color: #810000;
  color: #eeebdd;
}

/* Banner CSS */
.banner,
.banner-title-section {
  background-color: #810000;
  justify-content: center;
  padding: 20px 0;
}

.banner-title-section {
  height: 60vh;
}

.banner-title {
  margin-top: 15vh;
  text-align: center;
  background-color: #1b1717;
  color: #eeebdd;
  padding: 3vh;
}

/* Card CSS */
.card {
  background-color: black;
}

/* Search CSS */
.search-section {
  text-align: center;
}
.search-title-section {
  padding: 2vh;
  color: #eeebdd;
}

.search {
  margin: auto;
  text-align: center;
}

.search-input {
  background-color: #eeebdd;
  padding: 10px;
  width: 40vw;
}

.search button {
  background-color: #ce1212;
  padding: 10px;
  width: 10vw;
}

/* Results CSS */
.results {
  width: 60vw;
  margin: auto;
  margin-top: 5vh;
}

.results .list-group-item {
  background-color: #eeebdd;
}

.results li {
  list-style: none;
}

.results button {
  background-color: #810000;
  color: #eeebdd;
}

.results button[disabled] {
  background-color: #1b1717;
}

.details {
  margin: 0 20px;
}

/* Footer */
.footer {
  background-color: #1b1717;
  color: #eeebdd;
  margin-top: 10vh;
}

@media only screen and (max-width: 600px) {
  .results {
    width: auto;
    margin: 5vh 2vw 0;
  }
}
